In [60]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [61]:
from scipy.io.idl import readsav

In [62]:
import savReaderWriter as spss

In [63]:
raw_data2 = spss.SavReader('GSS2014merged_R6.sav', returnHeader = True, rawMode=True)

In [67]:
raw_data_list = list(raw_data) # this is slow
data = pd.DataFrame(raw_data_list) # this is slow
data = data.rename(columns=data.loc[0]).iloc[1:] # setting columnheaders, this is slow too.

In [68]:
data.head()

,b'year',b'id',b'wrkstat',b'hrs1',b'hrs2',b'evwork',b'wrkslf',b'wrkgovt',b'OCC10',b'prestg10',...,b'CLSGAYW',b'OTHGAYW',b'CLSNJOBM',b'OTHNJOBM',b'CLSNJOBW',b'OTHNJOBW',b'CLSPOLM',b'OTHPOLM',b'CLSPOLW',b'OTHPOLW'
1,2014,11304,1,40,-1,0,2,2,1010,63,...,0,1,1,0,0,0,-1,-1,-1,-1
2,2014,11304,1,40,-1,0,2,2,1010,63,...,0,1,1,0,0,0,-1,-1,-1,-1
3,2014,11304,1,40,-1,0,2,2,1010,63,...,0,1,1,0,0,0,-1,-1,-1,-1
4,2014,11304,1,40,-1,0,2,2,1010,63,...,0,1,1,0,0,0,-1,-1,-1,-1
5,2014,11304,1,40,-1,0,2,2,1010,63,...,0,1,1,0,0,0,-1,-1,-1,-1